
.label-asterisk {
  color: $pink;
  padding-left: 0.25rem;
}

.checkbox-control {
  display: flex;
  align-items: center;
  height: 36px;

  // Necessary for higher specificity
  label.checkbox-label {
    margin-left: 0;
  }
}

.select {
  width: 100%;

  select {
    width: 100%;
  }
}

.flatpickr-day {
  &.selected {
    background-color: $primary;
    border-color: lighten($primary, 50%);

    &:hover {
      background-color: $pink;
      border-color: lighten($pink, 50%);
    }
  }
}

.with-hint {
  min-height: 90px;
}

.column-summary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 3px solid $control-border-color;
}
