.app-container {
  position: relative;
}

.app {
  display: flex;
  position: relative;
}

.app__sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: $sidebar-width;
  height: 100vh;
  flex-grow: 0;
  background-color: $sidebar-background;
}

.app__body {
  flex-grow: 1;
  padding: 1.5rem;
}
