@import "../../styles/base/variables";

.planning-project-row {
  display: flex;
  height: $planning-cell-size;
  margin: 0 0 0.25rem;
}

.planning-col__project {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(#{$planning-cell-size} - #{$planning-cell-border-width * 2});
  padding-left: 0.25em;
  line-height: calc(#{$planning-cell-size} - #{$planning-cell-border-width * 2});
  text-align: left;
}

.planning-col--filled {
  color: $white;
  cursor: pointer;

  .planning-col__project {
    width: 200px;
  }
}
