@import "../../styles/base/variables";

$authentication-form-width: 500px;

.authentication-form {
    width: $authentication-form-width;
    background-color: $white;
    padding: 2.0rem 2.0rem;
    -webkit-box-shadow: 2px 2px 22px -1px rgba(117,119,99,1);
    -moz-box-shadow: 2px 2px 22px -1px rgba(117,119,99,1);
    box-shadow: 2px 2px 22px -1px rgba(117,119,99,1);

    .title {
      margin-bottom: 2.5rem;
      color: $brown;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
    }

    .buttons {
      margin: 2.5rem 0 0;
    }

    .button {
        width: 100%;
    }
  }

  @media screen and (max-width: $authentication-form-width) {
    .authentication-form {
      width: 90%;

      .title {
        font-size: 1.2rem;
      }
    }
  }
